<input class="search_input" [formControl]="searchControl" placeholder="Search"  [matAutocomplete]="auto" />
    <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onOptionSelected($event.option.value)"
    >
        <mat-option *ngFor="let item of filteredItems; trackBy: trackByFunction" [value]="item">
        
            <div class="profile_preview">
                <div class="profile_image">
                    <img alt="profile_img" [src]="item.picture"/>
                </div>
                <div class="profile_data">
                    <div>
                        @{{ item.username }}
                    </div>
                    <div>
                        {{ item.fullname }}
                    </div>
                </div>
                <div class="profile_followers">
                    {{ item.followers | decimalFormat  }}
                </div>
            </div>
        </mat-option>
    </mat-autocomplete>